@charset "utf-8";

body, html
{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', 'Lucida Grande';
    background: #002b36;
    color: #fff;
}
a
{
    color: #E6E6E6;
    text-decoration: none;
    outline: none;
}
a:hover
{
    color: #fff;
    text-shadow: 0 0 2px #fff;
}
.diva
{
    width: 200px;
    height: 200px;
    transition: 600ms all;
    background: #002b36;
    border-radius: 5px;
    float: left;
    padding: 8px;
    text-align: center;
    font-size: 110%;
    box-shadow: 0 0 1px #e2edf1;
    background: #f3f3f3;
}
.diva:hover
{
    background: #016468;
}
