@charset "utf-8";

body, html
{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', 'Lucida Grande';
    background: #002b36;
    color: #fff;
}
a
{
    color: #E6E6E6;
    text-decoration: none;
    outline: none;
    display: block;
}
a:hover
{
    color: #fff;
    text-shadow: 0 0 2px #fff;
}
#container
{
    position: relative;
    width: 50%;
    margin: 0 auto;
}
.diva
{
    width: 200px;
    height: 200px;
    transition: 600ms all;
    background: #002b36;
    border-radius: 5px;
    float: left;
    padding: 8px;
    text-align: center;
    font-size: 110%;
    background: #0f7791;
    margin: 10px;
}
.diva:hover
{
    background: #016468;
}
